
.btn {
  border: 1px solid #1f1c54;
  color: #1f1c54;
  padding: 0.7rem 1.4rem;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.8rem;
  border-radius: 12px;
  background: #1f1c54;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.6px;
  transition: background 0.25s ease, transform 0.25s ease;
  text-decoration: none;
}

.btn:hover {
   background: #458bf3;
  transform: translateY(-2px);
  color: #0f1020;
}

.Business {
  padding: 3px 8%;   /* 👈 top-bottom | left-right */
  background: linear-gradient(
    135deg,
    rgba(91, 91, 96, 0.466),
    rgba(7, 3, 76, 0.684)
  );
}
.Business h2 {
  font-size: 35;
  font-family: 'Times New Roman', Times, serif;
}

.Business p {
  font-size: 20;
}


  

